<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Joshua Kim</title>

    <style>
      body {
        font-family: Georgia, serif;
        color: #222;
        margin: 0;
        background: #fafafa;
      }

      .container {
        max-width: 700px;
        margin: 80px auto;
        padding: 20px;
        text-align: center;
      }

      h1 {
        font-size: 2.0rem;
        margin-bottom: 10px;
      }

      .credentials {
        font-size: 1.2rem;
        color: #666;
        margin-bottom: 40px;
      }

      .intro,
      p {
        font-size: 1.1rem;
        line-height: 1.7;
      }
    </style>
  </head>

  <body>
    <main class="container">
      <h1>Joshua A Kim</h1>

      <p class="credentials">
        MSW Candidate, 2028
      </p>

	  <p class="intro">
		contact at kimalexanderjoshua@gmail.com
	  </p>

    </main>
  </body>
</html>